<!--
  Generated template for the SubmitProblemPage page. 

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Προβλήματα</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- <ion-item>
    <ion-label style="color:darkgray;">Χωρίς Χρήση Χάρτη</ion-label>
    <ion-checkbox (ionChange)="showMap($event)"></ion-checkbox>
  </ion-item> -->
  <ion-item>
    <ion-label style="color:darkgray;">Eπιλογή Τοποθεσίας στο Χάρτη</ion-label>
  </ion-item>
  <div id="map"></div>
  <form [formGroup]="myFormGroup" (ngSubmit)="submitForm()">
    <div *ngIf="servicesProvider.contID==null">
      <ion-item>
        <ion-label floating>Όνομα
          <span style="color:#ff0000!important;"> * ({{firstNameLength.toString()}} χαρακτήρες)</span>
        </ion-label>
        <ion-input type="text" formControlName="firstName" maxlength="{{firstNameLength.toString()}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Επίθετο
          <span style="color:#ff0000!important;"> * ({{lastNameLength.toString()}} χαρακτήρες)</span>
        </ion-label>
        <ion-input type="text" formControlName="lastName" maxlength="{{lastNameLength.toString()}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email
          <span style="color:#ff0000!important;"> * ({{emailLength.toString()}} χαρακτήρες)</span>
        </ion-label>
        <ion-input type="text" formControlName="email" maxlength="{{emailLength.toString()}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Τηλέφωνο
          <span style="color:#ff0000!important;"> * ({{phoneLength.toString()}} αριθμούς)</span>
        </ion-label>
        <ion-input type="text" formControlName="phone" maxlength="{{phoneLength.toString()}}"></ion-input>
      </ion-item>
    </div>
    <ion-item>
      <ion-label floating>Είδος Προβλήματος
        <span style="color:#ff0000!important;"> *</span>
      </ion-label>
      <ion-select formControlName="category" okText="ΕΠΙΛΟΓΗ" cancelText="ΑΚΥΡΟ" multiple="false" *ngIf="isDataAvailable">
        <ion-option *ngFor="let item of dataset" [value]="item.F487ID">{{item.F487TITLE + (item.F487DESC.trim()!=''? ' - ' + item.F487DESC:'')}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Θέμα
        <span style="color:#ff0000!important;"> * ({{titleLength.toString()}} χαρακτήρες)</span>
      </ion-label>
      <ion-input type="text" formControlName="title" maxlength="{{titleLength.toString()}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Περιγραφή
        <span style="color:#ff0000!important;"> * ({{descriptionLength.toString()}} χαρακτήρες)</span>
      </ion-label>
      <ion-textarea type="text" formControlName="description" maxlength="{{descriptionLength.toString()}}"></ion-textarea>
    </ion-item>
    <!-- <ion-item><ion-searchbar (ionInput)="getAddress($event)"></ion-searchbar></ion-item>
    <ion-item>
     <ion-label floating>Οδός  
        <span style="color:#ff0000!important;"> *</span>
      </ion-label>
     <select-searchable formControlName="address" okText="ΕΠΙΛΟΓΗ" cancelText="ΑΚΥΡΟ" multiple="false" *ngIf="isDataAvailable"
        <ion-option *ngFor="let item of addresses" [value]="item.F083ID">{{item.F083ADDRESS}}</ion-option>
      </select-searchable>
    </ion-item> -->
    <ion-item>
      <ion-label floating>Οδός
        <span style="color:#ff0000!important;"> * </span>
      </ion-label>
      <ionic-selectable item-content [(ngModel)]="streets" formControlName="address" [items]="addresses" itemValueField="F083ID"
        itemTextField="F083ADDRESS" [canSearch]="true" [canClear]="true" searchPlaceholder="Αναζήτηση" okButtonText="EΠΙΛΟΓΗ"
        clearButtonText="ΚΑΘΑΡΙΣΜΑ" closeButtonText="ΑΚΥΡΟ" [shouldStoreItemValue]="true" (onChange)="addressChange($event)">
      </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label floating>Αριθμός
        <span style="color:#ff0000!important;"> * ({{houseNumberLength.toString()}} χαρακτήρες)</span>
      </ion-label>
      <ion-input type="text" formControlName="houseNumber" maxlength="{{houseNumberLength.toString()}}"></ion-input>
    </ion-item>
    <ion-item [hidden]="true">
      <ion-label floating>Τοποθεσία
      </ion-label>
      <ion-input formControlName="latitude" placeholder="latitude"></ion-input>
      <ion-input formControlName="longitude" placeholder="longitude"></ion-input>
    </ion-item>


    <div style="text-align: center; padding-top: 20px;">
      <ion-badge ion-button block outline (click)="presentActionSheet()">
        <div>
          <ion-icon name="md-camera"></ion-icon>
          <label>ΕΠΙΛΕΞΤΕ ΑΡΧΕΙΑ</label>
        </div>
      </ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col col-4 *ngFor="let photo of photos; let id = index" style="overflow:hidden; height:150px;">
            <ion-card class="block">
              <ion-icon name="trash" style="font-size:30px;" (click)="deletePhoto(id)"></ion-icon>
              <img [src]="photo.uri" *ngIf="photo" style="height:140px;" />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <button ion-button type="submit" full>Υποβολη</button>  
  </form>

</ion-content>