<!--
  Generated template for the ApopseisEisigiseisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>Απόψεις / Εισηγήσεις</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>pullingIcon="arrow-dropdown"</ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="mysections">
    <ion-segment-button value="1" (click)="changeSection()">
      ΚΑΤΑΛΟΓΟΣ
    </ion-segment-button>
    <ion-segment-button value="2" (click)="changeSection()" *ngIf="servicesProvider.contID!=null">
      ΟΙ ΚΑΤΑΧΩΡΗΣΕΙΣ ΜΟΥ
    </ion-segment-button>
  </ion-segment>
  <div class="spacer" style="height: 10px;"></div>

  <div [ngSwitch]="mysections">
    <ion-list *ngSwitchCase="'1'">
      <div *ngIf="isTab1Available">
        <ion-list>
          <ion-item *ngFor="let item of dataset" data-tap-disabled="true" (click)="goToSubmission(item.F488ID)">
            <ion-thumbnail item-start>
              <ion-badge item-start style="padding:10px;font-size:50px;">Ει</ion-badge>
            </ion-thumbnail>
            <span style="font-size:8pt; color:#488aff">{{item.F487TITLE}}</span>
            <br>
            <ion-badge>{{item.F055TITLE}}</ion-badge>
            <h2 style="white-space: normal;">{{item.F488TITLE}}</h2>
            <p>{{item.F488CRTDATE | date: 'dd/MM/yyyy'}}</p>
            <ion-badge item-end *ngIf="item.F488CONTACTID==servicesProvider.contID">
              <ion-icon name="md-person"></ion-icon>
            </ion-badge>
          </ion-item>
        </ion-list>
      </div>

    </ion-list>

    <ion-list *ngSwitchCase="'2'">
      <div *ngIf="isTab2Available">
        <ion-list>
          <ion-item *ngFor="let item of datasetOld" data-tap-disabled="true" (click)="goToSubmission(item.F488ID)">
            <ion-thumbnail item-start>
              <ion-badge item-start style="padding:10px;font-size:50px;"><ion-icon name="md-person"></ion-icon></ion-badge>
            </ion-thumbnail>
            <span style="font-size:8pt; color:#488aff">{{item.F487TITLE}}</span>
            <br>
            <ion-badge>{{item.F055TITLE}}</ion-badge>
            <h2 style="white-space: normal;">{{item.F488TITLE}}</h2>
            <p>{{item.F488CRTDATE | date: 'dd/MM/yyyy'}}</p>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>
  </div>
  <div overflow-scroll="true" padding="true" class="has-header">
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" distance="1%">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
<ion-footer no-shadow *ngIf="servicesProvider.contID!=null">
  <ion-toolbar position="bottom" padding style="text-align: right;">
    <button ion-button outline (click)="goToCreateSubmission()">Νεα Καταχωρηση</button>
  </ion-toolbar>
</ion-footer>