<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

    <ion-title>MyLakatamia</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToNotifications()" id="notification-button" clear *ngIf="servicesProvider.notificationsOn">
        <ion-icon name="notifications"><ion-badge id="notifications-badge" color="danger" *ngIf="notifications>0">{{notifications}}</ion-badge></ion-icon>        
      </button>
      <button ion-button icon-only clear *ngIf="!servicesProvider.notificationsOn">
          <ion-icon name="notifications-off"></ion-icon>        
        </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="manual-remove-top-padding has-header">
  <div>
    <img src="assets/imgs/pezogefira.jpg" style="width: 100%;">
  </div>
  <div class="spacer" style="height: 33px;"></div>
  <div>
    <img src="assets/imgs/logo.png" style="display:block;width:17%;height:auto;position: absolute;top: 100px;">
  </div>
  <div class="spacer" style="height: 18px;"></div>
  <div class="button-bar" style="white-space: nowrap;">
    <div class="btn-group" style="width:33%;text-align:center; display:inline-block; vertical-align: top; white-space: normal;" (click)="goToNews()">
      <ion-icon name="md-alarm" style="padding:12px;height:55px;width:55px;margin:auto;color:darkblue;background-color: #CCCCCC;border-radius:50%; font-size: 30px;"></ion-icon>
      <div style="margin:0px;border:none;background-color: #FFFFFF;color:darkblue;">Ανακοινώσεις</div>
    </div>
    <div class="btn-group" style="width:33%;text-align:center; display:inline-block; vertical-align: top;white-space: normal;" (click)="goToProblems()">
      <ion-icon name="md-warning" style="padding:12px;height:55px;width:55px;margin:auto;color:darkblue;background-color: #CCCCCC;border-radius:50%; font-size: 30px;"></ion-icon>
      <div style="margin:0px;border:none;background-color: #FFFFFF;color:darkblue;">Αναφορά Προβλήματος</div>
    </div>
    <div class="btn-group" style="width:33%;text-align:center; display:inline-block; vertical-align: top;white-space: normal;" (click)="goToEvents()">
      <ion-icon name="md-calendar" style="padding:12px;height:55px;width:55px;margin:auto;color:darkblue;background-color: #CCCCCC;border-radius:50%; font-size: 30px;"></ion-icon>
      <div style="margin:0px;border:none;background-color: #FFFFFF;color:darkblue;">Εκδηλώσεις</div>
    </div>
  </div>
  <div class="spacer" style="height: 18px;"></div>
  <div class="button-bar" style="white-space: nowrap;">
    <div class="btn-group" style="width:33%;text-align:center; display:inline-block; vertical-align: top;white-space: normal;" (click)="goToComplaints()">
      <ion-icon name="md-alert" style="padding:12px;height:55px;width:55px;margin:auto;color:darkblue;background-color: #CCCCCC;border-radius:50%; font-size: 30px;"></ion-icon>
      <div style="color:darkblue;">Υποβολή Παραπόνου</div>
    </div>
    <div class="btn-group" style="width:33%;text-align:center; display:inline-block; vertical-align: top;white-space: normal;" (click)="goToApopseisEisigiseis()">
      <ion-icon name="md-megaphone" style="padding:12px;height:55px;width:55px;margin:auto;color:darkblue;background-color: #CCCCCC;border-radius:50%; font-size: 30px;"></ion-icon>
      <div style="color:darkblue;">Απόψεις / Εισηγήσεις</div>
    </div>
    <div class="btn-group" style="width:33%;text-align:center; display:inline-block; vertical-align: top;white-space: normal;" (click)="goToEksoflisiLogariasmon()">
      <ion-icon name="logo-euro" style="padding:12px;height:55px;width:55px;margin:auto;color:darkblue;background-color: #CCCCCC;border-radius:50%; font-size: 30px;"></ion-icon>
      <div style="color:darkblue;">Εξόφληση Λογαριασμών</div>
    </div>
  </div>
  <div class="spacer" style="height: 18px;"></div>
  <div class="button-bar" style="white-space: nowrap;">
    <div class="btn-group" style="width:33%;text-align:center; display:inline-block; vertical-align: top;white-space: normal;" (click)="goToOdigosEksypiretisis()">
      <ion-icon name="md-book" style="padding:12px;height:55px;width:55px;margin:auto;color:darkblue;background-color: #CCCCCC;border-radius:50%; font-size: 30px;"></ion-icon>
      <div style="color:darkblue;">Οδηγός Εξυπηρέτησης</div>
    </div>
    <div class="btn-group" style="width:33%;text-align:center; display:inline-block; vertical-align: top;white-space: normal;" (click)="goToLakatamia()">
      <ion-icon name="md-pin" style="padding:12px;height:55px;width:55px;margin:auto;color:darkblue;background-color: #CCCCCC;border-radius:50%; font-size: 30px;"></ion-icon>
      <div style="color:darkblue;">Λακατάμια</div>
    </div>
    <div class="btn-group" style="width:33%;text-align:center; display:inline-block; vertical-align: top;white-space: normal;" (click)="goToContact()">
      <ion-icon name="md-mail" style="padding:12px;height:55px;width:55px;margin:auto;color:darkblue;background-color: #CCCCCC;border-radius:50%; font-size: 30px;"></ion-icon>
      <div style="color:darkblue; ">Επικοινωνία</div>
    </div>
  </div>
</ion-content>