<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Αλλαγή Κωδικού</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="myFormGroup">
    <ion-item>
      <ion-label floating>Τρέχον κωδικός
        <span style="color:#ff0000!important;"> *</span>
      </ion-label>
      <ion-input type="password" formControlName="txtCurrPass">

      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Νέος κωδικός
        <span style="color:#ff0000!important;"> *</span>
      </ion-label>
      <ion-input type="password" formControlName="txtNewPass">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Επιβεβαίωση κωδικού
        <span style="color:#ff0000!important;"> *</span>
      </ion-label>
      <ion-input type="password" formControlName="txtRepeatNewPass">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Μυστική Ερώτηση
        <span style="color:#ff0000!important;"> *</span>
      </ion-label>
      <ion-select formControlName="txtSecQ" okText="ΕΠΙΛΟΓΗ" cancelText="ΑΚΥΡΟ" multiple="false" *ngIf="isDataAvailable">
        <ion-option *ngFor="let item of dataset" [value]="item.F019ID">{{item.F019TITLE}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Μυστική Απάντηση
        <span style="color:#ff0000!important;"> *</span>
      </ion-label>
      <ion-input type="password" formControlName="txtSecA">
      </ion-input>
    </ion-item>
    <button ion-button block (click)="submitForm()">Αποθηκευση</button>
  </form>



</ion-content>