<ion-menu id="loggedOutMenu" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Μενού</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
        <ion-icon item-start [name]="p.icon" style="margin:auto;color:#488aff;"></ion-icon>
        {{p.title}}
      </button>

    </ion-list>

  </ion-content>

</ion-menu>

<ion-menu id="loggedInMenu" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Μενού</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
        <ion-icon item-start [name]="p.icon" style="margin:auto;color:#488aff;"></ion-icon>
        {{p.title}}
      </button>

    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<ion-footer style="background-color: orange;color: white;text-align: center;" *ngIf="!servicesProvider.online">Είστε σε OFFLINE mode</ion-footer>