<!--
  Generated template for the NewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      Ανακοινώσεις
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>pullingIcon="arrow-dropdown"</ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isDataAvailable">
    <div>
      <img src="assets/imgs/pezogefira.jpg" style="width: 100%;">
    </div>
    <div padding>
      <h1 [innerHTML]="dataset[0].F401TITLE | safe: 'html'"></h1>
      <p><strong>ΗΜΕΡΟΜΗΝΙΑ: </strong>{{dataset[0].F401PUBDATE | date: 'dd/MM/yyyy'}}</p>
      <br>
      <span [innerHTML]="dataset[0].F401LDESC | safe: 'html'"></span>
    </div>
  </div>
</ion-content>
<ion-footer no-shadow *ngIf="servicesProvider.online">
  <ion-toolbar position="bottom">
    <div style="float:left; text-align: left;" [hidden]="false">
      <button ion-button icon-only clear (click)="shareAction()">
        <ion-icon name="md-share" style="margin:auto;color:#488aff; font-size: 20px;"></ion-icon>
      </button>
    </div>
    <!-- <div style="float:right; text-align: right;">
      <button ion-button icon-only clear (click)="updateSocialActions('1001')" *ngIf="!deviceLiked">
        <ion-icon name="ios-thumbs-up-outline" style="margin:auto;color:#488aff; font-size: 20px;"></ion-icon>
      </button>
      <button ion-button icon-only clear *ngIf="deviceLiked">
        <ion-icon name="ios-thumbs-up" style="margin:auto;color:#488aff; font-size: 20px;"></ion-icon>
      </button>
      {{likes}} &nbsp;&nbsp;
      <button ion-button icon-only clear (click)="updateSocialActions('1002')" *ngIf="!deviceDisliked">
        <ion-icon name="ios-thumbs-down-outline" style="margin:auto;color:#488aff; font-size: 20px;"></ion-icon>
      </button>
      <button ion-button icon-only clear *ngIf="deviceDisliked">
        <ion-icon name="ios-thumbs-down" style="margin:auto;color:#488aff; font-size: 20px;"></ion-icon>
      </button>
      {{dislikes}}
    </div> -->
  </ion-toolbar>
</ion-footer>