<!--
  Generated template for the itemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on https://mylakatamia.zebrac.com/
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Εκδηλώσεις</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>pullingIcon="arrow-dropdown"</ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="mysections">
    <ion-segment-button value="1" (click)="changeSection()">
      ΝΕΕΣ
    </ion-segment-button>
    <ion-segment-button value="2" (click)="changeSection()">
      ΠΡΟΗΓΟΥΜΕΝΕΣ
    </ion-segment-button>
  </ion-segment>
  <div class="spacer" style="height: 10px;"></div>

  <div [ngSwitch]="mysections">
    <ion-list *ngSwitchCase="'1'">
      <div *ngIf="isTab1Available">
        <div style="text-align: center;" *ngIf="dataset.length==0">
          ΔΕΝ ΥΠΑΡΧΟΥΝ ΚΑΤΑΧΩΡΗΣΕΙΣ
        </div>
        <ion-list>
          <ion-item *ngFor="let item of dataset" data-tap-disabled="true" (click)="goToEvent(item.F426ID)">
            <ion-thumbnail item-start>
              <ion-badge item-start style="padding:1px;font-size:50px;" *ngIf="servicesProvider.online"><img src= "{{servicesProvider.baseUrl}}zeportalapi/PreviewImage.ashx?refItemId={{item.F426ID}}&refTableId=426&imageSize=S&language=EL&imgType=E"></ion-badge>
              <ion-badge item-start style="padding:10px;font-size:50px;" *ngIf="!servicesProvider.online">Εκ</ion-badge>
            </ion-thumbnail>
            <h2 style="white-space: normal;">{{item.F426TITLE}}</h2>
            <p>{{item.F426DATEFROM | date: 'dd/MM/yyyy'}}</p>
          </ion-item>
        </ion-list>
      </div>

    </ion-list>

    <ion-list *ngSwitchCase="'2'">

      <div *ngIf="isTab2Available">
        <div style="text-align: center;" *ngIf="datasetOld.length==0">
          ΔΕΝ ΥΠΑΡΧΟΥΝ ΚΑΤΑΧΩΡΗΣΕΙΣ
        </div>
        <ion-list>
          <ion-item *ngFor="let item of datasetOld" data-tap-disabled="true" (click)="goToEvent(item.F426ID)">
            <ion-thumbnail item-start>
              <ion-badge item-start style="padding:1px;font-size:50px;" *ngIf="servicesProvider.online"><img src= "{{servicesProvider.baseUrl}}zeportalapi/PreviewImage.ashx?refItemId={{item.F426ID}}&refTableId=426&imageSize=S&language=EL&imgType=E"></ion-badge>
              <ion-badge item-start style="padding:10px;font-size:50px;" *ngIf="!servicesProvider.online">Εκ</ion-badge>
            </ion-thumbnail>
            <h2 style="white-space: normal;">{{item.F426TITLE}}</h2>
            <p>{{item.F426DATEFROM | date: 'dd/MM/yyyy'}}</p>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>
  </div>
  <div overflow-scroll="true" padding="true" class="has-header">
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" distance="1%">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>